body {
  font-family: "Playfair Display", serif; /* Use Playfair Display for an expensive and royal look */
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    color: #a47fff;
    margin-bottom: 10px;
    padding: 50px;
    font-size: 70px;
    margin: 2px;
    box-shadow: 0 0 5px rgba(155, 155, 155, 0.1);

  }
  .header h1:hover{
    box-shadow: 0 0 10px rgba(355, 355, 355, 1.1);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .header p {
    font-size: 25px;
    color: #b3b3b3;
    font-weight: 200px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 40px;
  }
  

  
  .search-input {
    flex: 1;
    margin-right: 10px;
    margin-top: 18px;
  }
  
  .book-card {
    position: relative;
    background-color: #2a2a2a;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .book-card img {
    width: 100%;
    height: 200px; /* Set a fixed height for the image */
    object-fit: cover;
  }
  
  .book-card .card-body {
    padding: 15px;
  }
  
  .book-card h5.card-title {
    font-size: 20px;
    margin-top: 0;
    color: #fff;
    display: flex;
    align-items: center; /* Align vertically */
    justify-content: center; /* Align horizontally */
}

  .book-card p.card-text {
    font-size: 16px;
    color: #b3b3b3;
  }
  
  .no-results {
    text-align: center;
    color: #dc3545;
    display: none;
  }
  
  .btn-primary {
    background-color: #a47fff;
    border-color: #a47fff;
  }
  
  .btn-primary:hover {
    background-color: #9373e1;
    border-color: #9373e1;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    flex: 1 0 33.33%;
  }
  
  @media (max-width: 768px) {
    .search-container {
      flex-direction: column;
    }
  
    .search-input {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .col-md-4 {
      flex: 1 0 100%;
    }
  }
  
  .book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }
  